<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Elenco delle ricette</title>
</head>
<body>
    {% if num == 0 %}
        <h1>Peccato, ancora non ci sono ricette</h1>
        <p><img src="static/piatto_vuoto.jpg"></p>
        <p>Torna tra un po' per vedere le tue ricette</p>
    {% else %}
        <h1>Elenco di ricette:</h1>
        <ul>
        {% for ricetta in lista %}
            <li>
            <a href="{{ url_for("ricetta", id=ricetta[0]) }}">{{ ricetta[1] }}</a>
            <a href="{{ url_for("modifica_ricetta", id=ricetta[0])}}">Modifica</a>
            <a href="{{ url_for("elimina_ricetta", id=ricetta[0]) }}", class="conferma_elim" id="id_{{ ricetta[0] }}">Elimina</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}

    <!--
        flag = 0: Pagina standard
        flag =  1: Successo eliminazione
        flag =  -1: Successo eliminazione
    -->
    {% if flag==1 %}
        <!--Successo eliminazione-->
        <h1>Successo</h1>
            <p>La ricetta è stata eliminata dal ricettario!</p>
    {% elif flag==-1 %}
        <!--Fallimento eliminazione-->
        <h1>Errore</h1>
            <p>Questa ricetta non esiste</p>
    {% endif %}

    <p><a href="{{ url_for("nuova_ricetta", flag=0) }}">Inserisci una nuova ricetta</a></p>
    <p><a href="{{ url_for("root") }}">Ritorna alla pagina principale</a></p>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/static/js/conferma_eliminazione.js"></script>

</body>
</html>