<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Elimina ricetta</title>
</head>
<body>
    <!--
        flag =  0: Successo eliminazione
        flag =  1: Successo eliminazione
    -->
    {% if flag==0 %}
        <!--Successo eliminazione-->
        <h1>Successo</h1>
            <p>La ricetta è stata eliminata dal ricettario!</p>
    {% elif flag==1 %}
        <!--Fallimento eliminazione-->
        <h1>Errore</h1>
            <p>Questa ricetta non esiste</p>
    {% endif %}
    <p><a href="{{ url_for("root") }}">Ritorna alla pagina principale</a></p>
</body>
</html>