<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Modifica ricetta</title>
</head>
<body>
    <!--Modifica ricetta-->
    <h1>Modifica la tua ricetta:</h1>
        <form action="{{ url_for("modifica_ricetta_risultato") }}" method="post">
            <p>Nome: <input type="text" name = "nome" value="{{ nome }}"></p>

            <p>Immagine: <img src="{{ src_immagine }}"></p>
            <p>Sostituisci immagine: <input type="file" accept="image/*" id="new_immagine" name="new_immagine">
                <button type="button" id="btn_reset_img">Reset immagine</button></p>
            <p><input type="checkbox" id="elimina_immagine" name="elimina_immagine" value="elimina_immagine" />Elimina immagine</p>

                <p>
                    <!--Tag primario selezionato-->
                    <input type="hidden" id="tag_primario_scelto" name="tag_primario_scelto" value={{ tag_primario }} />
                    <!--Tag primari-->
                    <input type="radio" name="tag_primario" id="tag_prim_Antipasti" value="Antipasti">Antipasti
                    <input type="radio" name="tag_primario" id="tag_prim_Primi" value="Primi">Primi
                    <input type="radio" name="tag_primario" id="tag_prim_Secondi" value="Secondi">Secondi
                    <input type="radio" name="tag_primario" id="tag_prim_Piatti unici" value="Piatti unici">Piatti unici
                    <input type="radio" name="tag_primario" id="tag_prim_Contorni" value="Contorni">Contorni
                    <input type="radio" name="tag_primario" id="tag_prim_Dolci" value="Dolci">Dolci
                </p>
            <p>
                <!--Tag secondari-->
                <div id="div_tag_sec">
                    {% for i in range(num_tag) %}
                        <input type="checkbox" id="tag_{{ id_tag[i] }}" name="tag_{{ id_tag[i] }}" value="{{ id_tag[i] }}" /> {{ tag[i] }}
                    {% endfor %}
                </div>
                <input type="text" id="text_tag_sec"/>
                <button id="btn_tag_sec" type="button">Nuovo</button>
                <input type="hidden" id="tag_secondari_scelti" name="tag_secondari_scelti" value={{ tag_sec_scelti }} />
            </p>
            <p>Ingredienti:
                    {% for i in range(0, num_ingr) %}
                    <div class='ingr' id={{ i }}>
                        <input type='text' name = 'id_{{ i }}' value={{ ingredienti[i] }}><button class='ingr' id={{ i }} type='button'>Cancella</button>
                    </div>
                    {% endfor %}

                    <div id="ingredienti"></div>

                    <button id="ingr_btn" type="button">Nuovo</button>
            </p>
            <p>Testo: <textarea name="testo" cols="40" rows="5">{{ testo }}</textarea></p>
            <input type="hidden" name="id" value={{ id }} />
            <input id="count" type="hidden" name="count" value={{ num_ingr }}>
                <input id="elenco_ingr" type="hidden" name="elenco_ingr" value="[]">
            <input type="submit" value="Modifica la ricetta">

            <p><a href="{{ url_for("modifica_ricetta", id=id)}}">Annulla</a></p>
        </form>

        <a href="{{ url_for("elimina_ricetta", id=id) }}", class="conferma_elim_ricette">Elimina</a>

    <!--
        flag =  1: successo per operazione di modifica
        flag = -1: fallimento: non è stato inserito testo
        flag = -2: fallimento: Ricetta già esistente
        flag = -3: fallimento: non è stato inserito titolo
        flag = -4: fallimento: non sono stati inseriti ingredienti
        flag = -5: fallimento: non è stato inserito un tag primari
    -->

    {% if flag==1 %}
        <!--Successo modifica-->
        <h1>Successo</h1>
            <p>La ricetta è stata modificata nel ricettario!</p>
    {% elif flag==-1 %}
        <!--Fallimento: no testo-->
        <h1>Errore</h1>
            <p>Non hai inserito il testo della ricetta</p>
    {% elif flag==-2 %}
        <!--Fallimento: Ricetta esistente-->
        <h1>Errore</h1>
            <p>La ricetta esiste già nel ricettario</p>
    {% elif flag==-3 %}
        <!--Fallimento: no titolo-->
        <h1>Errore</h1>
            <p>Non hai inserito il titolo della ricetta</p>
    {% elif flag==-4 %}
        <!--Fallimento: no ingredienti-->
        <h1>Errore</h1>
            <p>Non hai inserito ingredienti nella ricetta</p>
    {% elif flag==-5 %}
        <!--Fallimento: no tag primario-->
        <h1>Errore</h1>
            <p>Non hai inserito un tag primario nella ricetta</p>

    {% endif %}

    <p><a href="{{ url_for("elenco", flag=0) }}">Vedi le tue ricette</a></p>
    <p><a href="{{ url_for("root") }}">Ritorna alla pagina principale</a></p>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/static/js/nuovo_ingrediente.js"></script>
    <script src="/static/js/modifica_selezione_tag.js"></script>
    <script src="/static/js/conferma_eliminazione.js"></script>
    <script src="/static/js/nuovo_tag_secondario.js"></script>
    <script src="/static/js/reset_img.js"></script>

</body>
</html>