<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Modifica ricetta</title>
</head>
<body>
    <!--
        flag =  1: successo per operazione di modifica
        flag = -1: fallimento: non è stato inserito testo
        flag = -2: fallimento: Ricetta già esistente
        flag = -3: fallimento: non è stato inserito titolo
    -->
    {% if flag==1 %}
        <!--Successo modifica-->
        <h1>Successo</h1>
            <p>La ricetta è stata modificata nel ricettario!</p>
    {% elif flag==-1 %}
        <!--Fallimento: no testo-->
        <h1>Errore</h1>
            <p>Non hai inserito il testo della ricetta</p>
    {% elif flag==-2 %}
        <!--Fallimento: Ricetta esistente-->
        <h1>Errore</h1>
            <p>La ricetta esiste già nel ricettario</p>
    {% elif flag==-3 %}
        <!--Fallimento: no titolo-->
        <h1>Errore</h1>
            <p>Non hai inserito il titolo della ricetta</p>
    {% endif %}
    <p><a href="{{ url_for("root") }}">Ritorna alla pagina principale</a></p>
</body>
</html>