<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Nuova ricetta</title>
</head>
<body>
    <!--
        flag =  0: inserimento di una nuova ricetta
        flag =  1: successo per operazione di inserimento
        flag = -1: fallimento: non è stato inserito testo
        flag = -2: fallimento: ricetta già esistente
        flag = -3: fallimento: non è stato inserito il titolo
    -->
    {% if flag==0 %}
        <!--Inserimento ricetta-->
        <h1>Inserisci una nuova ricetta:</h1>
            <form action="{{ url_for("nuova_ricetta_insert") }}" method="post">
                <p>Nome: <input type="text" name = "nome"></p>
                <p>Ingredienti:
                    <div id="ingredienti"></div>
                    <button id="ingr_btn" type="button">Nuovo</button>
                </p>
                <p>Testo: <textarea name="testo" cols="40" rows="5"></textarea></p>
                <input id="count" type="hidden" name="count" value="[]">
                <input type="submit" value="Invia la ricetta">
            </form>
    {% elif flag==1 %}
        <!--Successo inserimento-->
        <h1>Successo</h1>
            <p>La ricetta è stata aggiunta al ricettario!</p>
    {% elif flag==-1 %}
        <!--Fallimento: no testo-->
        <h1>Errore</h1>
            <p>Non hai inserito il testo della ricetta</p>
    {% elif flag==-2 %}
        <!--Fallimento: Ricetta esistente-->
        <h1>Errore</h1>
            <p>La ricetta esiste già nel ricettario</p>
    {% elif flag==-3 %}
        <!--Fallimento: no titolo-->
        <h1>Errore</h1>
            <p>Non hai inserito il titolo della ricetta</p>
    {% endif %}
    <p><a href="{{ url_for("root") }}">Ritorna alla pagina principale</a></p>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/static/js/nuovo_ingrediente.js"></script>

</body>

</html>