<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>{{ nome }}</title>
</head>
<body>
    <h1>{{ nome }}</h1>
    <p>{{ tag_primario }}</p>

    <!--Tag secondari-->
    <p>Tag secondari</p>
    <ul>
        {% for i in range(0, num_tag_secondari) %}
            <li>{{ tag_secondari[i] }}</li>
        {% endfor %}
    </ul>

    <!--Ingredienti-->
    <p>Ingredienti</p>
    <ul>
        {% for i in range(0, num_ingredienti) %}
            <li>{{ ingredienti[i] }}</li>
        {% endfor %}
    </ul>
    <p>{{ testo }}</p>
    <p><a href="{{ url_for("modifica_ricetta", id=id)}}">Modifica</a></p>
    <p><a href="{{ url_for("elimina_ricetta", id=id) }}", class="conferma_elim_ricette">Elimina</a></p>
    <p><a href="{{ url_for("root") }}">Ritorna alla pagina principale</a></p>
    <p><a href="{{ url_for("elenco", flag=0) }}">Ritorna alle tue ricette</a></p>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/static/js/conferma_eliminazione.js"></script>

</body>
</html>